h1,h2 {font-family: 'Oswald', sans serif}

body {font-family: 'Open Sans', sans serif}

body {
    color: darkblue;
    margin: 10px 50px 50px 10px;
    width: 950px;
    background-color: Ivory
}

img{
    float: left;
    margin-right: 10px
}