.item img{
    width: 100px;
    height: 100px;
}

.rounded-button {
    border-radius: 10px;
    padding: 10px 20px;
    background-color: sandybrown;
    color: rgb(255, 255, 255);
    border-style: solid;
    border: rgb(177, 51, 150);
  }

.error {
    border: 2px solid red;
}