html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item img{
    width: 200px;
    height: 200px;
}

 /* General */
 

 html {
  
    font-family: 'Raleway', sans-serif;
    background-color: rgb(188, 236, 246);
    font-size: 10px;
    
  }
  
  body {
    width: 800px;
    margin: 0 auto;
  }
  
  /* Typography */
  
  
  h1, h2 {
    
    font-family: 'Georgia', cursive;
    margin: 0;
    
    text-align: center;
  }
  
  
  h1 {
    font-size: 5rem;
    background-size: 48px 48px;
    background-blend-mode: lighten;
  }
  
  h2 {
    font-size: 2rem;
    color: rgb(90, 19, 116);
    text-align: right;
    width: 160px;
    position: absolute;
    right: 4%;
    z-index: 3000;
    text-shadow: 2px 2px 1px white;
    line-height: 2rem;
    padding-top: 0.3rem;
  }
  
  p {
    font-size: 1.5rem;
  }
  
  
  /* block styling */
  
  
  header, aside, main, footer {
    padding: 20px;
  }
  
  footer h1 {
    font-style: italic;
    font-size: 3rem;
  }
  
  aside {
    flex: 3;
  }
  
  main {
    flex: 7;
  }
  
  
  /*  Form styling */
  
  main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }
 
  
  /* Styling the products */
  
  
  section {
    width: 4%;
    margin: 5px;
    background-color: rgb(212, 193, 227);
    position: relative;
    height: 215px;
  }
  
  section p {
    color: rgb(239, 209, 247);
    background: black;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 2px 2px 1px rgb(187, 26, 246);
    position: absolute;
    right: 10px;
    bottom: -6px;
    z-index: 2000;
  }
  
  
  .item {
    background-size: 234px 24px;
  }
  
  
  .item img {
      width: 200px;
      height: 200px; 
      
      display: block;
      position: absolute;
      bottom: 0px;
      
  }
  
  .item input {
    display: inline-block;
    position: relative;
    width: 90px;
    height: 40px;
    left: 230px;
    top: 90px;
  }
  
  .item label {
    display: inline-block;
    position: absolute;
    width: 90px;
    height: 40px;
    left: 240px;
    top: 70px;
    font-size: 11px;
  
  }
  
  input[type="submit"] {
    display: block;
    font-size: 30px;
    font-family: 'Georgia';
    background-color: azure;
    color:rgb(90, 19, 116);
    margin-top: 10px;
  }
  