/* Styling for products_display page*/
body {
    background-image: url("https://wallpaperaccess.com/full/2473757.jpg");
    width: 100%;
    height: 100%;
}

img {
    width: 150px;
    height: 150px;
    margin-right: 0px;/*Adjust each image's position in each white product container*/
}

h1 {
    text-align: center;
}

/*The container that contains the products*/
.container {
    text-align: center;
    color: black;
}

.submission {
    color: black;
    text-align: center;
    font-size: 24px;
}

/* The footer container */
.container-fluid2 {
    position: flex;
    bottom: 0;
    width: auto;
    height: auto;
    font-size: 28px;
    color: black;
}

.navbar-nav {
    font-size: 20px;
}

.panel-body {
    background-color: skyblue;
}