/*
Authors: Monica Mau, Le Yi Feng Zheng, Brandon Ramos
Assignment 3
Date: 5/12/2023
Description: CSS stylesheet for cart page
 */


 /* Header styling */
h1 {
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgb(15, 106, 106);
    color:rgb(200, 246, 249);
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

/* thank you for ordering */
 h2 {
    color: rgb(15, 106, 106);
    font-size: 38px;
    font-family: 'Dosis', sans-serif;
    text-shadow: 1px 1px 1px rgb(255, 255, 255);
    margin-bottom: 15px;
    margin-top: 25px;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-align: center;
    font-size: 15px;
    background-color: #c1e2e4;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

.item img{
    width: 50px;
    height: 50px;
}
/* invoice table decoration */
table {
    border-collapse: collapse;
    background-color: #e7fcfb;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    width:50%;
    border: 3px solid #def7f6;
    border-radius: 10px;
    /* box shadow help from Tina Vo */
    box-shadow: 0 4px 8px 0 rgba(20, 89, 90, 0.2), 0 6px 20px 0 rgba(20, 89, 90, 0.2);
}


table th {
    background-color: #91cccb;
    color: #325c58;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
   }

table td {
    padding: 4px;
    border: none;
}

/* display a popup with a description of the product on mouseover of the image*/
.img-mouseover {
    position: relative;
}

.img-mouseover .product-description {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: rgb(9, 73, 67);
    color: white;
    padding: .5em;
    min-width: 10rem;
    font-size: 8px;
}

.img-mouseover:hover .product-description {
    display: block;
}

/* Purchase button styling */
.purchase_button {
    display: block;
    background-color: rgb(62, 107, 104);
    color: #ffffff;
    border-color: rgb(62, 107, 104);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 17px;
    border-width: 1.5px;
    min-width: 100px;
    padding: 10px 20px;
    margin-bottom: 15px;
    margin: 0 auto;
    width: auto;
  }

.purchase_button:hover{
    background-color: #ffffff;
    border-color: rgb(62, 107, 104);
    color: rgb(62, 107, 104);
}

/* home button */
.home-button{
    margin-right: 20px;
    font-size: 12px;
    display: block;
    background-color: rgb(62, 107, 104);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 17px;
    padding: 10px 20px;
    width: 55px;
    height: 20px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.home-button:hover{
    background-color: rgb(0, 0, 0);
}

/* shipping policy */
h3 {
    color: rgb(79, 110, 107);
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
    left: 0;
    right: 0;
    bottom: 25px;
}

/* copyright */
footer {
    font-size: 15px;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}