/*
Authors: Monica Mau, Le Yi Feng Zheng, Brandon Ramos
Assignment 3
Date: 5/12/2023
Description: CSS stylesheet for index page
 */


/* Header styling */
h1 {
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    color:rgb(15, 106, 106);
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

#shinee {
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: -40px;
    height: 25%; 
    width: 25%;
}

/* click to enter */
h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    color:rgb(40, 103, 100);
}


/* body styling */
body {
    text-align: center;
    background: rgb(187, 232, 228);
    margin: 0;
    padding: 0;
}

/* lightstick apng */
.image {
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 20%; 
    width: 20%;
}
    


