/*
Authors: Monica Mau, Le Yi Feng Zheng, Brandon Ramos
Assignment 3
Date: 5/12/2023
Description: CSS stylesheet for login page
 */

/* Header styling */
h1 {
    align-items: center;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 70px;
    background-color: rgb(15, 106, 106);
    color:rgb(200, 246, 249);
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:rgb(55, 104, 99);
    justify-items: center;
}

/* navbar styling */
.navbar {
    display: flex;
    align-items: left;
    background-color: rgb(171, 224, 219);
    color: #fff;
    padding: 10px;
    padding-top: 15px;
    left: 0;
    right: 0;
    top: 0;
}

.navbar .button{
    margin-right: 20px;
    font-size: 12px;
    display: block;
    background-color: rgb(62, 107, 104);
    border-radius: 10px;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 17px;
    padding: 10px 20px;
    width: auto;
    height: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    width: 10%;
    height: 10%;
    padding-right: 20px;
}

.navbar .button:hover{
    background-color: rgb(0, 0, 0);
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black;
    text-align: center;
    font-size: 15px;
    background-color: #c1e2e4;
  }

.item img{
    width: 50px;
    height: 50px;
}
/* invoice table decoration */
table {
    border-collapse: collapse;
    background-color: #e7fcfb;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #def7f6;
    border-radius: 10px;
    /* box shadow help from Tina Vo */
    box-shadow: 0 4px 8px 0 rgba(20, 89, 90, 0.2), 0 6px 20px 0 rgba(20, 89, 90, 0.2);
    width: 32%;;
}


table th {
    background-color: #91cccb;
    color: #325c58;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border: none;
   }

table td {
    padding: 10px;
    border: none;
    height: 40px;
}

.label {
    font-size: 20px;
}

.input_box {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(62, 107, 104);
    background-color: #e7fcfb;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    width: 260px;
    height: 20px;
}


/* Login button styling */
#login_button {
    display: block;
    background-color: rgb(62, 107, 104);
    color: #ffffff;
    border-color: rgb(62, 107, 104);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 17px;
    border-width: 1.5px;
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 auto;
    width: auto;
    margin-top: 20px;
  }

#login_button:hover{
    background-color: #ffffff;
    border-color: rgb(62, 107, 104);
    color: rgb(62, 107, 104);
}

/* Register button styling */
#register_button {
    display: block;
    background-color: rgb(62, 107, 104);
    color: #ffffff;
    border-color: rgb(62, 107, 104);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 17px;
    border-width: 1.5px;
    min-width: 100px;
    padding: 10px 20px;
    margin: 0 auto;
    width: auto;
  }

#register_button:hover{
    background-color: #ffffff;
    border-color: rgb(62, 107, 104);
    color: rgb(62, 107, 104);
}

a{
    display: block;
    background-color: rgb(62, 107, 104);
    color: #ffffff;
    border-color: rgb(62, 107, 104);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 17px;
    border-width: 1.5px;
    padding: 10px 20px;
    margin: 0 auto;
    width: 60px;
}


#home_button {
    font-size: 25px;
}
li a:link,
li a:visited,
#home_button a:link,
#home_button a:visited {
  color: rgb(15, 106, 106);
  text-decoration: none
}

#home_button:hover{
    color: rgb(0, 0, 0);
}