/*
Authors: Monica Mau, Le Yi Feng Zheng, Brandon Ramos
Assignment 3
Date: 5/12/2023
Description: CSS stylesheet for navbar
 */

/* navbar styling */
.navbar {
    display: flex;
    position: relative;
    background-color: rgb(171, 224, 219);
    color: #fff;
    padding: 10px;
    padding-top: 15px;
    left: 0;
    right: 0;
    top: 0;
}

.navbar .logo {
    width: 7%;
    height: 7%;
    padding-right: 20px;
    padding-right: 20px;
}

/* Styling for search bar */
.searchBar {
    position: relative;
}

.searchBar ::placeholder {
    font-family: 'Comfortaa', sans-serif;
    font-size: 12px;
    
}

.searchBar i.fa {
    position: absolute;
    top: 40%;
    left: 10px;
    transform: translateY(-50%);
  }

#searchInput {
    background-size: 25px;
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 2px solid rgb(15, 106, 106); /* Add a border */
    border-radius: 8px;
    margin-bottom: 12px; /* Add some space below the input */
  }

li, .login {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    color: rgb(15, 106, 106);
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    width: auto;
    height: 21px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

li a:link,
li a:visited,
.login a:link,
.login a:visited {
  color: rgb(15, 106, 106);
  text-decoration: none
}

li a:hover,
li a:active, 
.login a:hover, 
.login a:active {
    color: rgb(0, 0, 0);
}

.login {
    position: absolute;
    right: 50px;
}

.cart_icon {
    position: absolute;
    right: 0px;
}

i {
    font-size: 30px;
    color: rgb(15, 106, 106);
}

i:hover {
    color: rgb(0, 0, 0);
}

/* CSS for admin button */
.admin {
    display: inline-block;
    font-size: 15px;
    color: rgb(15, 106, 106);
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 20px;
    width: auto;
    height: 21px;
    text-decoration: none;
    cursor: pointer;
    right: 0px;
}

li a:link,
li a:visited,
.admin a:link,
.admin a:visited {
  color: rgb(15, 106, 106);
  text-decoration: none
}

li a:hover,
li a:active, 
.admin a:hover, 
.admin a:active {
    color: rgb(0, 0, 0);
}