/*
Author: Tina Vo 
Date Due: 11/30/2021 
Description: CSS style for login page 
 */

body {
    font-family: "Arial", Helvetica, sans-serif;
    background-image: url("./images/bluedots.jpeg");
    margin:0;
    padding:0;
}

/* style for input boxes */
/* style for input box */
input {
  border: none;
  border-bottom: 1px solid;
  width: 30%;
}

/* bg color banner behind text */
#loginBoxTop {
    background-color: #AFD2E9;
    height: 105px;
    margin-top: -30px;
  }

/* text color and position on top*/
  #loginTextTop {
    position: relative;
    top: 30px;
    color: cornsilk;
  }

/* register page button */
#button_to_register_page {
  background-color: #9AA0A8;
  color: #fff;
  font-size: 20px;
  border: none;   
}

/* change color when hover */
#button_to_register_page:hover {
    background:#AFD2E9;
    border: none;
}

/* login button */
#loginbutton {
    background-color: #9AA0A8;
    color: #fff;
    font-size: 20px;
    border: none;   
  }
  
  /* change color when hover */
  #loginbutton:hover {
      background:#AFD2E9;
      border: none;
  }
