/*
Authors: Monica Mau, Le Yi Feng Zheng, Brandon Ramos
Assignment 3
Date: 5/12/2023
Description: CSS stylesheet for index page
 */


 /* Navbar styling */
.navbar {
    display: flex;
    align-items: left;
    background-color: rgb(171, 224, 219);
    color: #fff;
    padding: 10px;
    top: 0;
}

.navbar .button{
    margin-right: 20px;
    font-size: 12px;
    display: block;
    background-color: rgb(62, 107, 104);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 17px;
    padding: 10px 20px;
    width: auto;
    height: 20px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.navbar .logo {
    width: 10%;
    height: 10%;
    padding-right: 20px;
}

.navbar .button:hover{
    background-color: rgb(0, 0, 0);
}

/* Shop name */
h1{
    font-family: 'Palanquin-Dark', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: -10px;
    background-color: #c1e6e6;
    padding-bottom: 1px;
    padding-top: 1px;
    color:rgb(55, 104, 99);
    justify-items: center;
    height: 110px;
}

/* click to enter */
h2{
    font-family: 'Montserrat', sans serif;
    font-size: 20px;
    margin-top: 40px;
    color:rgb(40, 103, 100);
}


/* body styling */
body {
    text-align: center;
    background: rgb(187, 232, 228);
    margin: 0;
    padding: 0;
}

/* lightstick apng */
.image {
    justify-content: center;
    align-items: center;
    height: 20%; 
    width: 20%;
}
    


